@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  margin: 0px;
  padding: 0px;
}
.logo {
  width: 8%;
  padding: 0.5%;
  padding-left: 2%;
}
nav {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
}
.div1,
.div2 {
  display: flex;
  justify-content: space-between;
}
.div2 {
  width: 19%;
  padding: 1.7%;
  padding-right: 2.7%;
}
.div22 {
  width: max-content;
  padding: 1.7%;
  padding-right: 4.9%;
}
.link {
  color: black;
  text-decoration: none;
}
.input-content {
  width: fit-content;
  border: 2px solid black;
  padding: 2%;
  margin-top: 2%;
}
.input {
  margin-top: 4%;
}
input {
  text-align: center;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding: 0.5%;
}
input:hover {
  border: 2px solid black;
}
textarea:hover {
  border: 2px solid black;
}
.submit {
  margin-top: 4%;
  padding: 1%;
}
.big-font {
  margin-top: 2%;
  font-size: xx-large;
}
.blog {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 60%;
  padding: 3%;
  background-color: #c3c3c353;
  border-top-left-radius: 50px;
  box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
    5px 5px #373737, 6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}
.text {
  margin-top: 2%;
}
.contacts {
  margin-top: 2%;
}
.no-blogs {
  margin-top: 8%;
}
.first-author {
  font-size: xx-large;
}
.logo2 {
  width: 30%;
}
.footer {
  border-top: 2px solid black;
  bottom: 0;
  background-color: #6b6b6b31;
}